.EmployeeList {
    margin-left: 5%;
    width: 60%;
    margin-top: 5%;
}

h1 {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 48.61px;
    color: #34B233;
}

ul {
    list-style: none;
}

li {
    background-color: #D5D2CA;
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
}

.item {
    width: 100%;
}

.actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: 20%;   
}

.edit {
    background-color: #00549F;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete {
    background-color: #AA272F;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

li > p {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    height: 100%;
}