.button-enabled {
    background-color: var(--wur-groen);
}

button {
    padding:  0.4rem 1.5rem;
    transition: 0.4s;
    color: var(--wur-wit);
    font-size: 24px;
    border: none;
}

.button-disabled {
    background-color: var(--wur-grijs);
}

.button-enabled:hover {
    background-color: var(--wur-button-hover);
}