.location-edit-add {
    margin: 0 10%;
}
.add-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fields-row {
    display: flex;
}

.add-button {
    margin-bottom: 3px;
}

.column {
    display: flex;
    flex-direction: column;
}
.interventions {
    margin-left: 10%;
}
.interventions .submit-button {
    margin-left: 5%;
}
.interventions form {
    margin-bottom: 5%;
}